body {
	margin:0;
}

.html-player-wrapper {
	position:relative;
	overflow:hidden;
}

.html-player-video-controls {
	position:absolute;
	bottom:0;
	width:100%;
}

.html-player-play {
	float:left;
	width:30px;
	height:30px;
	background-color:red;
}

.html-player-play.paused {
	background-color:#FF0055;
}

.html-player-play.playing {
	background-color:green;
}

.html-player-play span {
	display:none;
}

.html-player-progress-bar {
	float:left;
	width:30px;
	height:30px;
	background-color:gray;
}

.html-player-time-display {
	float:left;
	width:30px;
	height:30px;
	background-color:blue;
}

.html-player-volume {
	float:left;
	width:30px;
	height:30px;
	background-color:green;
	position:relative;
}

/*.html-player-volume-button, .html-player-volume-bar {display:none;}*/

.html-player-fullscreen {
	float:left;
	width:30px;
	height:30px;
	background-color:orange;
}

.html-player-fullscreen span {display:none;}

.html-player-progress-wrapper {
	position:relative;
	height:30px;
}

.html-player-progress-play {
	position:absolute;
	height:8px;
	background-color:#000;
	top:12px;
	width:0;
	z-index:2;
}

.html-player-progress-buffer {
	position:absolute;
	height:8px;
	background-color:#F0F0F0;
	top:12px;
	width:0;
}

.html-player-volume-button {
	text-indent:-9999px;
	width:30px;
	height:30px;
}

.html-player-volume-bar {
	display:none;
}

.html-player-volume:hover .html-player-volume-bar {
	display:block;
	position:absolute;
	bottom:30px;
	width:30px;
	height:100px;
	background-color:green;
}

.html-player-volume-wrapper {
	height:90px;
	margin-top:5px;
	width:8px;
	border:1px solid white;
	margin-left:10px;
	position:relative;
}

.html-player-volume-icon-plus, .html-player-volume-icon-less {
	display:none;
}

.html-player-volume-position {
	width:8px;
	background-color:#000;
	position:absolute;
	bottom:0;
	height:100%;
}

.html-player-alternative-versions {
	width:30px;
	height:30px;
	float:left;
	background-color:violet;
	position:relative;
}

.html-player-alternative-versions > span {
	display:none;
}

.html-player-alternative-versions ul {
	display:none;
	list-style:none;
	margin:0;
	padding:0;
	width:140px;
	position:absolute;
	right:0;
	bottom:30px;
	background-color:violet;
}

.html-player-alternative-versions:hover ul {
	display:block;
}

.html-player-alternative-versions ul li {
}

.html-player-alternative-versions ul li a {
	display:block;
	width:100%;
}

.html-player-subtitle {
	position:absolute;
	bottom:50px;
	color:#FFF;
	font:bold 20px sans-serif;
	text-shadow:2px 2px 2px #000;
	width:100%;
	text-align:center;
}

.html-player-subtitle-content {
	margin:0 20px;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}