.jqplayer-logo {
	display: block;
	margin: 5px 10px 0 0;
	@include icons-sprite(jqplayer);

	span {
		display: block;
		text-indent: -9999px;
		overflow: hidden;
	}
}

.jumbotron {
	text-align: center;

	h1 {
		text-align: center;
	}
}

.video-container {
	width: auto;
	margin: 0 auto;
}

#video-element.p720 .html-player-subtitle {
	font-size:28px;
}

:-moz-full-screen .html-player-subtitle,
:-webkit-full-screen .html-player-subtitle,
:fullscreen .html-player-subtitle {
	font-size:28px;
}

#video-element {
	position:relative;
	width: 615px;
	height: 346px;
	padding-bottom:12px;
	margin: 0 auto;
	background-color: black;
}

#video-element.fullscreen {
	position: absolute !important;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
	padding:0;
}

#github-label {
	position: absolute;
	top: 41px;
	right: 0;
	border: 0;
}

@media (min-width: 980px) {
	body {
		padding-top: 60px;
	}
}

@media (min-width: 1200px) {
	#video-element {
		width: 615px;
		height: 346px;
	}
}

@media (min-width: 980px) and (max-width: 1199px) {
	#video-element {
		width: 480px;
		height: 270px;
	}
}
 
@media (min-width: 768px) and (max-width: 979px) {
	#video-element {
		width: 373px;
		height: 210px;
	}
}

@media (max-width: 979px) {
	#github-label {
		top: 50px;
	}
}
 
@media (max-width: 767px) {
	#video-element {
		width: 441px;
		height: 248px;
	}
}
 
@media (max-width: 480px) {
	#video-element {
		width: 310px;
		height: 174px;
	}

	#github-label {
		display: none;
	}
}